@import url('https://fonts.googleapis.com/css?family=PT+Mono');

* {
	box-sizing:border-box;
	padding:0;
	margin:0;
}
html { 
  background: url('https://media.giphy.com/media/SHwSR6NCpZOpFPCTe3/giphy.gif') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
	height:100vh;
}
svg path {
	fill:hsl(56,100%,49%);
	cursor:pointer;
}
.overlay {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background:hsla(0, 0%, 0%, 0.5);
	z-index:1;
}
.play-music button{
	left:1rem;
	top:1rem;
	position:relative;
	z-index:3;
	cursor:pointer;
	background:transparent;
	border:none;
}
.not-found {
	display:flex;
	justify-content:center;
	align-items:center;
	z-index:2;
	height:100%;
	position:relative;
}
.not-found-error {
	background:hsla(0,0%,100%,.35);
	border-radius:5px;
	box-shadow:0 0 20px hsla(0,0%,20%,0.5);
	transform:rotate(5deg);
	color:hsl(0,0%,10%);
	text-align:center;
	padding: 1rem 2rem;
	position:relative;
}
.not-found h1 {
	line-height:1;
	font-size:20vw;
	letter-spacing:50px;
	font-family: 'PT Mono', monospace;
}
.not-found h2 {
	font-size:5vw;
	line-height:1;
	font-family: 'PT Mono', monospace;
}
.go-home {
	position:absolute;
	top:-1rem;
	left:-4.5rem;
	transform:rotate(-25deg);
	background:hsl(0,0%,10%);
	box-shadow:0 0 20px hsla(0,0%,20%,0.25);
	color:hsl(56,100%,49%);
	border-radius:5px;
	font-size:2.5rem;
	padding:.5rem;
	text-decoration:none;
	transition:all .25s ease;
	font-family: 'PT Mono', monospace;
}
.go-home:hover {
	background:hsl(56,100%,49%);
	color:hsl(0,0%,10%);
	box-shadow:0 0 20px hsla(0,0%,20%,0.5);
}


@media only screen and (max-width: 500px) {
	.go-home {
    top: -6rem;
    left: -0.5rem;
}
}